<h1>投稿一覧</h1>
<div class= "row">
<table class="table table-striped table-bordered bg-light">
<% @posts.each do |post| %>
<tr class= "col-md-12">
  <td class="col-md-3 mb-1 mt-3 bg-white">タイトル
  <span>
    <%= link_to post.title, post_path(post.id) %>
  </span>
  </td>
  <td class="col-md-9 mb-1 bg-white">本文
  <span>
    <%= link_to post.body, post_path(post.id) %>
  </span>
  </td>
</tr>
<% end %>
</table>
</div>