<h1>投稿一覧</h1>
<div class= "row">
<% @posts.each do |post| %>
<div class= "col-md-3">
  <p class="col-md-5 mb-1 mt-3 bg-white">タイトル</p>
  <span>
    <%= link_to post.title, post_path(post.id) %>
  </span>

  <p class="col-md-5 mb-1 bg-white">本文</p>
  <span>
    <%= link_to post.body, post_path(post.id) %>
  </span>
</div>
<% end %>
</div>