<h1>投稿一覧</h1>

<% @posts.each do |post| %>

  <p>タイトル</p>
  <span>
    <%= link_to post.title, post_path(post.id) %>
  </span>

  <p>本文</p>
  <span>
    <%= link_to post.body, post_path(post.id) %>
  </span>
    <p><%= link_to "#{post.post_comments.count} コメント", post_path(post_comment.id) %></p>
<% end %>