<main>
  <p id = "notice"></p>
    <!--<div class = "container">-->
      <div class = "row">
      <div class="col-10">
        <h1 class="px-5 mx-auto">
      aboutページ
        </h1>
      <div class="bg-light">
<strong>当サイトはあくまで管理人の個人ファンサイトであり、日本野球機構をはじめ、<br>
セントラル・リーグ及びパシフィック・リーグの各６球団とは、一切関係ございません。<br>

注意事項といたしまして、<br>
個人的感情とそれに伴っての贔屓チームや選手個人、他のユーザーへの<br>
誹謗中傷を目的とした書き込みは全面的に禁止とさせて頂きます。<br>
加えて、某掲示板等で多様されている似非言語、並びにそれの派生定型分、<br>
特定ジャンル作品の台詞を真似た定型文を使用しての投稿は、全てのユーザーが受け付けるものでは決してなく、<br>
拒否反応や嫌悪感を示すユーザーもおりますので、これらも使用は禁止とさせて頂きます。<br>
著しい違反行為と捉えかねない書き込みがありましたら、投稿及びコメントの削除に、<br>
アカウントの停止に伴うサイトの利用禁止処分も行わせていただきますので、<br>
ご理解の程をよろしくお願い致します。<br>

</strong>
      </div>
      </div>
    </div>
    </div>
    </div>
</main>