<!--ユーザー一覧-->
<div class="container border bg-white">

  <div class="row">
    <div class="col-md-6 mt-1">
      <h1 class="text-dark text-center title_bar">ユーザー一覧</h1>
    </div>
    <div class="col-md-2 mt-1"></div>
  </div>

<div class="row">
  <div class="col-md-12 offset-md-1">
    <table class="table col-md-9" border="1">
      <thead>
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>

<tbody>
  <% @users.each do |user| %>
    <tr class="col-md-12">
      <td class="col-md-3">
        <!--id-->
        <%= user.id %>
      </td>

      <td class="col-md-3">
        <!--name-->
        <%= link_to admin_user_path(user.id) do %>
          <%= user.name %>
        <% end %>
      </td>
      <td class="col-md-3">
        <!--email-->
        <%= user.email %>
      </td>

      <td class="col-md-3">
        <!--is_deleted-->
        <% if user.is_deleted == false %>
          <span class="text-success font-weight-bold">有効</span>
        <% else %>
          <span class="text-secondary font-weight-bold">退会</span>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
    </table>

  </div>
</div>
  <div class="row">
    <div class="col-md-2 mx-auto">
    </div>
  </div>
</div>