<h1>ブックマーク一覧</h1>

<% @favorite_posts.each do |post| %>

  <p class="col-md-2 mt-3 mb-1 bg-white">タイトル</p>
  <span>
    <%= link_to post.title, post_path(post.id) %>
  </span>

  <p class="col-md-2 mt-3 mb-1 bg-white">本文</p>
  <span>
    <%= link_to post.body, post_path(post.id) %>
  </span>
<% end %>