<h1>ブックマーク一覧</h1>

<% @favorite_posts.each do |post| %>

  <p>タイトル</p>
  <span>
    <%= link_to post.title, post_path(post.id) %>
  </span>

  <p>本文</p>
  <span>
    <%= link_to post.body, post_path(post.id) %>
  </span>
<% end %>